.template {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-bottom: 100px;
}

/* .form-columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */

/* .form-group {
    flex: 1 1 35%;
    flex-direction: row !important;
    margin: 0 80px 0 80px;
} */

.password-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.show-password {
    font-size: 25px;
}

/* .form-group .labelBox {
    display: block;
    margin-bottom: 5px;
} */

/* .form-group .input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
} */

.form > * {
    width: 70vw;
}

.form .form-button button {
    width: 70vw;
}

.form-button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-box {
    margin: 30px;
}

/* .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-self: center;
    text-align: center;
    padding: 50px 0;
} */